@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width:100%;
    margin: auto;
    padding: 5px;
    font-family: 'Indie Flower', cursive;
}

#container {
    display: flex;
    flex-flow: row nowrap;
}

/*design home page*/
#logo {
    width: 12rem;
    top: 1rem;
    position: absolute;
}

#div1 {
    background-color: black;
    height: 34rem;
    width: 34rem;
    position: absolute;
    top:16rem;
    left: 53rem;
    z-index: 1000;
}

/*here welcome*/
h1 {
    color:white;
    padding: 31%;
    top: -10rem;
    position: relative;
    left: 4rem;
    letter-spacing: 2px;
}
/*name user*/
span {
    color: white;
    position: relative;
    left: 13rem;
    bottom: 17rem;
    font-size: 34px;
    padding: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-weight: bold;
}

a {
    color: white;
    background-color: #d43c4c;
    text-decoration-line: none;
    bottom: 11rem;
    width: 11rem;
    height: 3rem;
    left: 11rem;
    position: relative;
    text-align: center;
    border-radius: 2rem;
    border-color: #d43c4c;
    display: block;
    padding: 1%;
    font-family: cursive;
    font-size: 13px;
    font-weight: bold;
}

#btnAddArticle button {
    background-color: #d43c4c;
    color: white;
    width: 11rem;
    height: 3rem;
    left: 11rem;
    position: relative;
    border-radius: 2rem;
    border-color: #d43c4c;
    bottom: 8rem;
    font-weight: bold;
}

/*images design*/
#cercle {
    width: 14rem;
    height: 14rem;
    border-radius: 7rem;
    background: #d43c4c;
    position: sticky;
    top:2rem;
    left: 80rem;
}

#img2 {
    height: 537px;
    width: 537px;
    object-position: 100% 50%;
    background-image: url("/assets/img/img2.jpg");
    background-position: 50% 50%;
    margin: -661px auto 0 81px;
    border-radius: 50% !important;
    background-size: cover;
    position: absolute;
    top: 34rem;
    left:-29rem;
}

#img3 {
    height: 17rem;
    width: 17rem;
    object-position: 100% 50%;
    background-image: url("/assets/img/img4.png");
    background-position: 50% 50%;
    border-radius: 50% !important;
    background-size: cover;
    position: absolute;
    top: 25rem;
    left: -32rem;
}

#img4 {
    height: 13rem;
    width: 13rem;
    object-position: 100% 50%;
    background-image: url("/assets/img/img5.png");
    background-position: 50% 50%;
    border-radius: 50% !important;
    background-size: cover;
    position: absolute;
    top: 8rem;
    right: 66rem;
}

#img5 {
    height: 10rem;
    width: 10rem;
    object-position: 100% 50%;
    background-image: url("/assets/img/img3.png");
    background-position: 50% 50%;
    border-radius: 50% !important;
    background-size: cover;
    position: absolute;
    top: 26rem;
    right: 76rem;
}

/* design comment*/
#btnComment {
    width: 6rem;
    height: 3rem;
    margin: 2%;
    background-color: #d43c4c;
    color: white;
    border-color: #d43c4c;
    border-radius: 2rem;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 2rem;
}

/*btn share*/
.containerShare {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    filter: url('#goo');
}

.btnShare {
    z-index: 99;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background-color: #d43c4c;
    border-radius: 20px;
    color: #FFF;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: cursive;
    bottom: 122rem;
    left: 47rem;
}

.social {
    opacity: 0;
    position: relative;
    margin: 8px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: inline-block;
    color: #FFF;
    font-size: 20px;
    text-align: center;
}

i {
    margin-top: 10px;
}

a {
    color: #FFF;
}

.twitter {
    background: #00aced;
    position: absolute;
    bottom: 120rem;
    left: 48rem;
}

.facebook {
    background: #3b5998;
    position: absolute;
    bottom: 120rem;
    left: 52rem;
}

.google {
    background: #dd4b39;
    position: absolute;
    bottom: 120rem;
    left: 56rem;
}

.youtube {
    background: #bb0000;
    position: absolute;
    bottom: 120rem;
    left: 60rem;
}

.clicked {
    opacity: 1;
    transition: 1.2s all ease;
    transform: translateY(56px);
}

/*design page admin*/
.containerAdmin {
    width: 100%;
    font-family: cursive;
 }

#right {
    float: right;
    background-color: white;
    width: 50%;

}

#left {
    float: left;
    background-color: #32323e;
    color: white;
    width: 50%;
}
#left:hover {
    background-color: #d43c4c;
}

/*responsive

html {
    font-size: 62.5%;
}
 */