@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width:100%;
    margin: auto;
    padding: 5px;
    font-family: 'Indie Flower', cursive;
}

#container {
    display: flex;
    flex-flow: row nowrap;
}

/*design home page*/
#logo {
    width: 12rem;
    top: 1rem;
    display: flex;
    justify-content: flex-start;
}

#div1 {
    background-color: black;
    height: 34rem;
    width: 34rem;
    position: absolute;
    top: 16rem;
    left: 53rem;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

/*here welcome*/
h1 {
    color:white;
    padding: 31%;
    position: relative;
    letter-spacing: 2px;
    bottom: 8rem;
    left: 3rem;
    display: flex;
    flex-flow: row;
}

/*name user*/
span {
    color: white;
    position: relative;
    left: 13rem;
    bottom: 17rem;
    font-size: 34px;
    padding: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-weight: bold;
}

a {
    color: white;
    background-color: #d43c4c;
    text-decoration-line: none;
    bottom: 11rem;
    width: 11rem;
    height: 3rem;
    left: 11rem;
    position: relative;
    text-align: center;
    border-radius: 2rem;
    border-color: #d43c4c;
    display: block;
    padding: 1%;
    font-family: cursive;
    font-size: 13px;
    font-weight: bold;
}

#btnAddArticle button {
    background-color: #d43c4c;
    color: white;
    width: 11rem;
    height: 3rem;
    left: 11rem;
    position: relative;
    border-radius: 2rem;
    border-color: #d43c4c;
    bottom: 8rem;
    font-weight: bold;
}

/*images design*/
#cercle {
    width: 14rem;
    height: 14rem;
    border-radius: 7rem;
    background: #d43c4c;
    position: absolute;
    top: 9rem;
    left: 80rem;
}

#img2 {
    height: 537px;
    width: 537px;
    object-position: 100% 50%;
    background-image: url("/assets/img/img2.jpg");
    background-position: 50% 50%;
    margin: -661px auto 0 81px;
    border-radius: 50% !important;
    background-size: cover;
    position: absolute;
    top: 34rem;
    left:-29rem;
}

#img3 {
    height: 17rem;
    width: 17rem;
    object-position: 100% 50%;
    background-image: url("/assets/img/img4.png");
    background-position: 50% 50%;
    border-radius: 50% !important;
    background-size: cover;
    position: absolute;
    top: 25rem;
    left: -32rem;
}

#img4 {
    height: 13rem;
    width: 13rem;
    object-position: 100% 50%;
    background-image: url("/assets/img/img5.png");
    background-position: 50% 50%;
    border-radius: 50% !important;
    background-size: cover;
    position: absolute;
    top: 8rem;
    right: 66rem;
}

#img5 {
    height: 10rem;
    width: 10rem;
    object-position: 100% 50%;
    background-image: url("/assets/img/img3.png");
    background-position: 50% 50%;
    border-radius: 50% !important;
    background-size: cover;
    position: absolute;
    top: 26rem;
    right: 76rem;
}

/* design comment*/
#btnComment {
    width: 6rem;
    height: 3rem;
    margin: 2%;
    background-color: #d43c4c;
    color: white;
    border-color: #d43c4c;
    border-radius: 2rem;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 2rem;
}

/*btn share*/
.containerShare {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    filter: url('#goo');
}

.btnShare {
    z-index: 99;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17rem;
    height: 3rem;
    background-color: #d43c4c;
    border-radius: 20px;
    color: #FFF;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: cursive;
    bottom: 122rem;
    left: 47rem;
}

.social {
    opacity: 0;
    position: relative;
    margin: 8px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: inline-block;
    color: #FFF;
    font-size: 20px;
    text-align: center;
}

i {
    margin-top: 10px;
}

a {
    color: #FFF;
}

.twitter {
    background: #00aced;
    position: absolute;
    bottom: 121rem;
    left: 48rem;
}

.facebook {
    background: #3b5998;
    position: absolute;
    bottom: 121rem;
    left: 52rem;
}

.google {
    background: #dd4b39;
    position: absolute;
    bottom: 121rem;
    left: 56rem;
}

.youtube {
    background: #bb0000;
    position: absolute;
    bottom: 121rem;
    left: 60rem;
}

.clicked {
    opacity: 1;
    transition: 1.2s all ease;
    transform: translateY(56px);
}

#btnConnect {
    background-color: #d43c4c;
    color: white;
    position: relative;
    width: 5rem;
    height: 2.5rem;
    border-radius: 25px;
    border-color: #d43c4c;
    font-size: 20px;
    font-weight: bold;
    bottom: 132rem;
    left: 39rem;
    text-align: center;
}

/*design page admin*/
.containerAdmin {
    width: 100%;
    font-family: cursive;
}

#right {
    float: right;
    background-color: white;
    width: 50%;

}

#left {
    float: left;
    background-color: #32323e;
    color: white;
    width: 50%;
}
#left:hover {
    background-color: #d43c4c;
}

/*page 404*/
body {
    background-color: #00aced;
}

.mainbox {
    background-color: #00aced;
    margin: auto;
    height: 600px;
    width: 600px;
    position: relative;
}

.err {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position:absolute;
    left: 20%;
    top: 8%;
}

.far {
    position: absolute;
    font-size: 8.5rem;
    left: 42%;
    top: 15%;
    color: #ffffff;
}

.err2 {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position:absolute;
    left: 68%;
    top: 8%;
}

.msg {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    position:absolute;
    left: 16%;
    top: 45%;
    width: 75%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

/*responsive*/
@media screen and (max-width: 1500px) {

    html {
        font-size: 62.5%;
    }

    #img2 {
        height: 369px;
        width: 369px;
        top: 54rem;
        left: -34rem;
    }

    #cercle {
        width: 14rem;
        height: 14rem;
        top: 12rem;
        left: 76rem;
    }

    #div1 {
        height: 37rem;
        width: 37rem;
        top: 19rem;
        left: 45rem;
    }

    a {
        bottom: 14rem;
        width: 18rem;
        height: 4rem;
        font-size: 13px;
    }

    #btnAddArticle button {
        height: 4rem;
        bottom: 11rem;
    }

    span {
        font-size: 30px;
    }

    #btnComment {
        width: 10rem;
        height: 4rem;
        top: 2rem;
    }

    /*animation btn share and imgs*/
    #btnShare {
        bottom: 59rem;
        left: 25rem;
    }
    .twitter {
        bottom: 58rem;
        left: 25rem;
    }
    .facebook {
        bottom: 58rem;
        left: 29rem;
    }
    .google {
        bottom: 58rem;
        left: 33rem;
    }
    .youtube {
        bottom: 58rem;
        left: 37rem;
    }
    #img3,#img4,#img5    {

    }

}

@media screen and (max-width: 1350px) {

    #btnShare {
        bottom: 73rem;
        left: 25rem;
    }

    .twitter {
        bottom: 72rem;
        left: 25rem;
    }

    .facebook {
        bottom: 72rem;
        left: 27rem;
    }
    .google {
        bottom: 72rem;
        left: 33rem;
    }
    .youtube {
        bottom: 72rem;
        left: 35rem;
    }
}

@media screen and (max-width: 270px) {

    #cercle {
        width: 14rem;
        height: 14rem;
        top: 23rem;
        left: 12rem;
    }

    #btnShare {
        bottom: 65rem;
        left: 6rem;
    }

     .twitter{
         bottom: 64rem;
         left: 2rem;
     }

    .facebook {
        bottom: 64rem;
        left: 8rem;
    }

    .google {
        bottom: 64rem;
        left: 14rem;
    }

    .youtube {
        bottom: 64rem;
        left: 20rem;
    }

    #img2 {
        height: 18rem;
        width: 18rem;
        top: 65rem;
        left: -14rem;
    }

    #img3 {
        height: 10rem;
        width: 10rem;
        top: 37rem;
        left: 14rem;
    }
    #img4 {
        height: 7rem;
        width: 7rem;
        top: 33rem;
        right: 17rem;
    }

    #img5 {
        height: 10rem;
        width: 10rem;
        top: 45rem;
        right: 12rem;
    }

    #divComment textarea{
        width: 91%;
        bottom: -16rem;
        position: relative;
        margin: 1rem;
    }

    #btnComment {
        width: 10rem;
        height: 4rem;
        top: 17rem;
        left: 4rem;
    }

    #div1 {
        height: 32rem;
        width: 27rem;
        top: 27rem;
        left: 0;
        padding: 1%;
    }

    h1 {
        top: -10rem;
        left: 5rem;
    }

    span {
        font-size: 24px;
        display: flex;
        justify-content: flex-start;
        top: -11rem;
        left: 4rem;
    }

    a {
        bottom: 4rem;
        width: 12rem;
        height: 4rem;
        font-size: 11px;
        left: 13rem;
        top: -6rem;
    }

    #btnAddArticle button {
        height: 4rem;
        display: flex;
        flex-direction: row;
        left: 1rem;
        bottom: 10rem;
    }



}
